.app-wrapper {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    column-gap: 70px;
    row-gap: 25px;
}

.app-wrapper span {
    justify-self: end;
    font-size: 20px;
}

.app-wrapper h1 {
    font-family: "Roboto", sans-serif;
}

.animated-element {
    transition: background-color 0.5s ease-in-out;
}